@{
    ViewBag.Title = "Hello Knockout";
}
@using KnockoutJsPlayground.ViewModels
@using Newtonsoft.Json;
@model HomeViewModel
<div class="row">
    <div class="col-md-6">
      <span data-bind="text:Firstname"></span>
    </div>
    <div class="col-md-6">
        <span data-bind="text:Lastname"></span>
    </div>
</div>

<script src="~/Scripts/Home/HomeViewModel.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var vm = new Home.HomeViewModel(@Html.Raw(JsonConvert.SerializeObject(Model)));
        debugger;
        ko.applyBindings(vm.vm);
    });

</script>
